<%= simple_form_for @user do |f| %>
  <%= f.input :first_name, placeholder: "First Name"%>
  <%= f.input :last_name, placeholder: "Last Name"%>
  <%= f.input :email, placeholder: "email@email.com"%>
  <%= f.input :password, placeholder: "Password"%>
  <%= f.input :password_confirmation, placeholder: "Confirm Password", required: true %>
  <h5><strong>Profile Photo</strong></h5><%= f.input :photo, placeholder: "photo URL" %>
  <%= f.button :submit, name:"Submit", value: "Submit" %>
<% end %>
