<div class="container user-container">
  <div class="row">
    <div class="col-md-4">
      <h3>Welcome, <%= @user.first_name %></h3>
      <hr>
      <%= image_tag @user.photo, class: "img-responsive img-circle", size: "340x340"%>
      <hr>
      <%= button_to "Edit Profile", edit_user_path, :method => "get", class: "btn btn-lg btn-primary" %>
    </div>
    <div class="col-md-8">
        <%= month_calendar todos: @todos do |date, todos| %>
          <%= date %>

          <% todos.each do |todo| %>
            <div>
              <%= todo.title %>
            </div>
        <% end %>
      <% end %>
      <%= button_to "New List", new_list_path, :method => "get", class: "btn btn-lg btn-primary" %>
      <%= button_to "New Doodle", new_doodle_path, :method => "get", class: "btn btn-lg btn-primary" %>
      </div>
  </div>
</div>
