<div class="container">
  <div class="row">
    <div class="col-md-4 user-container">
      <h3>Welcome, <%= @user.first_name %></h3>
      <hr>
      <%= image_tag @user.photo, class: "img-circle", size: "340x340"%>
      <hr>
      <span><%= button_to "Edit Profile", edit_user_path, :method => "get", class: "btn btn-sm btn-default"%><%= button_to "My Lists", lists_path, :method => "get", class: "btn btn-sm btn-primary"%></span>
    </div>
    <div class="calendar col-md-8">
    <%= month_calendar events: @todos do |date, todos| %>
              <%= date %>

              <% current_user.todos.each do |todo| %>

                  <%= todo.title %>
                </div>
            <% end %>
          <% end %>
    <div class= "col-xs-offset-5 col-sm-10 col-sm-offset-5 col-md-10 col-md-offset-5 col-lg-10 col-lg-offset-5">
    <%= button_to "My To-Do's", todos_path, :method => "get", class: "btn btn-sm btn-primary" %>
  </div>
  </div>
  </div>
</div>
