  <div class="header">

    <div class="col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1" style="padding-left:0px">
      <div class="container-fluid">
      <h1 class="mainHeader">To-Doodling<%= image_tag("pencil-gif.gif", class: "pencil img-responsive") %></h1>
      </div>
    </div>
  </div>
    <hr>
    <div class="col-xs-offset-2 col-sm-9 col-sm-offset-2 col-md-9 col-md-offset-2 col-lg-9 col-lg-offset-2">
        <% if current_user %>
        <% else %>
        <span><%= button_to "Sign Up", new_user_path, :method => "get", class: "btn btn-sm btn-primary", style:"background-color:#00b2a3" %><%= button_to "Login", new_session_path, :method => "get", class: "btn btn-sm btn-warning" %>
        <% end %>
    <hr style="border: 1px solid #3a3a3a">
  </div>


<div class="col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-1 col-lg-8 col-lg-offset-1" style="padding-left:0px">
<div class="container-fluid">

  <div class="features container">
      <p class="lead">Keep track of your tasks, all in one place.</p>
      <div class="image">
        <%= image_tag "listImg.png", class:"image", size: "500x300" %>
      </div>
  </div>

  <hr class="divider">

  <div class="features container">
      <p class="lead">Like to doodle? You can create those too!</p>
  <div class="image">
      <%= image_tag "kittyImg.png", class:"image", size: "500x300" %>
  </div>
  </div>

  <hr class="divider">

  <div class="features container">
      <p class="lead">Your own custom calendar puts all of your tasks to view to keep you on track.</p>
  <div class="image">
      <%= image_tag "userProfile.png", class:"image", size: "500x300" %>
  </div>
  </div>

  <hr class="divider">
</div>
</div>
